<h1>login</h1>
  
<form action="/login" method="POST">
  
    <input type="password" name="password" 
        placeholder="password">
        <input type="email" name="email" 
        placeholder="enter Email">
        
    <button>login</button>
</form>
  
<h1>This is home page</h1>
  
<li><a href="/register">register!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/">Home</a></li>